{% extends 'base.html' %}
{% block body %}
<style>
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 18px;
    /* Adjusted font size */
  }
</style>
{% if messages %}
<div class="alert alert-primary" role="alert" id="messages-container">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
</div>
{% endif %}

<script>
  // Function to hide the messages container after 3 seconds
  setTimeout(function() {
    var messagesContainer = document.getElementById('messages-container');
    if (messagesContainer) {
      messagesContainer.style.display = 'none';
    }
  }, 3000); // 3000 milliseconds = 3 seconds
</script>

<div class="me-5">
  <h1 class="text-center p-3
    ">Contact US</h1>
  <form class="row g-3 m-5" method="post">
    {% csrf_token %}
    <div class="col-md-6 my-2">
      <label for="inputname4" class="form-label fs-4 fw-bold">Name</label>
      <input type="text" class="form-control border border-secondary" id="inputname4" name="name" 
      placeholder="First & last name "/>
    </div>
    <div class="col-md-6 my-2">
      <label for="inputcontact4" class="form-label fs-4 fw-bold">contact no</label>
      <input type="text" class="form-control border border-secondary" id="contact" name="phone" 
      placeholder="+91 . . . . . "/>
    </div>
    <div class="col-md-6 my-2">
      <label for="inputEmail4" class="form-label fs-4 fw-bold">Email</label>
      <input type="email" class="form-control border border-secondary" name="email" id="inputEmail4" 
      placeholder="yourname@gmail.com"/>
    </div>
    <div class="col-md-6 my-2">
      <label for="inputAddress" class="form-label fs-4 fw-bold">Address</label>
      <input type="text" class="form-control border border-secondary" id="inputAddress" name="address"
        placeholder="1234 Main St" />
    </div>
    <div class="col-12 my-2">
      <label for="inputquestio" class="form-label fs-4 fw-bold">Query</label>
      <textarea type="text" class="form-control border border-secondary" id="inputquery" name="query"
        placeholder="Write if you have any query!"></textarea>
    </div>
    <div class="col-md-12 my-3">
      <button type="submit" name="submit_btn" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>


</div>
{% endblock %}