{% extends "sidebar.html" %}
{% load static %}
{% block dashboard-content %}
{% if messages %}
<div class="alert alert-primary" role="alert" id="messages-container"  style="position: absolute;z-index: 1;width: 100%;">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
</div>
{% endif %}
<style>
  /* Add custom styles here if needed */
  .dashboard-item {
    min-height: 200px; /* Adjust height as needed */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dashboard-item h2, .dashboard-item h3 {
    margin: 0; /* Remove default margin for better centering */
  }
</style>
<script>
  // Function to hide the messages container after 3 seconds
  setTimeout(function() {
    var messagesContainer = document.getElementById('messages-container');
    if (messagesContainer) {
      messagesContainer.style.display = 'none';
    }
  }, 3000); // 3000 milliseconds = 3 seconds
</script>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="bg-primary text-white dashboard-item">
        <h2>Total Orders</h2>
        <h3>{{order_total}}</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-white dashboard-item" style="background-color: rgb(342, 163, 0);">
        <h2>Total Products</h2>
        <h3>{{product_total}}</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-danger text-white dashboard-item">
        <h2>Total Categories</h2>
        <h3>{{category_total}}</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-success text-white dashboard-item">
        <h2>Total Users</h2>
        <h3>{{user_total}}</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-dark text-white dashboard-item">
        <h2>Total Sale</h2>
        <h3>₹{{sale_total}}</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-white dashboard-item" style="background-color: rgb(238, 33, 245);">
        <h2>Total Stock</h2>
        <h3>₹{{stock_total}}</h3>
      </div>
    </div>
  </div>
</div>

{% endblock dashboard-content %}

