{% extends "base.html" %}
{% load static %}
{% block body %}
<style>
.form-label{
    font-weight: bolder;
    margin-top: 2rem;
}
.input{
    border: black;
}
</style>
{% if messages %}
<div class="alert alert-primary" role="alert" id="message-container">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var messageContainer = document.getElementById('message-container');
        setTimeout(function () {
            messageContainer.style.opacity = 0;
            setTimeout(function () {
                messageContainer.style.display = 'none';
            }, 500);
        }, 3000);
    });
</script>
{% endif %}


<container class="productcontainer">
    <h1>Update Profile</h1>
    <main class="main bd-grid">
        <form method="post" class="row g-3">
            {% csrf_token %}
            <div class="form-group col-md-6 my-2">
                <label class="form-label">First name</label>
                <input type="text" class="form-control form-control-lg border border-dark" id="exampleInputEmail1" aria-describedby="emailHelp"
                    value="{{ myuser.first_name }}" name="first_name" required>
            </div>
            <div class="form-group col-md-6 my-2">
                <label class="form-label">Last name</label>
                <input type="text" name="last_name" class="form-control form-control-lg border border-dark" id="exampleInputEmail1"
                    aria-describedby="emailHelp"  value="{{ myuser.last_name }}"  required>
            </div>
            <div class="form-group col-md-6 my-2">
                <label class="form-label">Username</label>
                <input type="text" name="username" class="form-control form-control-lg border border-dark" id="exampleInputEmail1"
                    aria-describedby="emailHelp"  value="{{ myuser.username }}"  required>
            </div>
            <div class="form-outline col-md-6 my-2">
                <label class="form-label" for="typeEmailX">Phone NO</label>
                <input type="name" id="typeEmailX"  value="{{ myuser.phone }}" 0" name="phone" required
                    class="form-control form-control-lg border border-dark" />
            </div>
            <div class="form-outline col-md-6 my-2">
                <label class="form-label" for="typeEmailX">Email</label>
                <input type="email" id="typeEmailX"  value="{{ myuser.email }}"  name="email" required
                    class="form-control form-control-lg border border-dark" />
            </div>
            <div class="form-outline col-md-6 my-2">
                <label class="form-label" for="typeEmailX">Address</label>
                <input type="name" id="typeEmailX"  value="{{ myuser.Address }}"  name="Address" required
                    class="form-control form-control-lg border border-dark" />
            </div>
            <button class="btn btn-success my-5" name="signup" type="submit">Update</button>
        </form>
    </main>
</container>
{% endblock body %}